.mainMenu
   display: flex
   align-items: center
   gap: 50px
   position: relative
   @media screen and (max-width: 1200px)
      display: none
   li
      padding-bottom: 5px
      &:hover .subMenu, &:hover .subMenuNamingAndBrand
         display: flex
         opacity: 1
         visibility: visible
         pointer-events: auto

   .noLink
      font-family: "Product Sans", sans-serif
      font-size: .875rem
      font-weight: 500
      color: #19184a
      transition: all ease .3s
      cursor: pointer
      line-height: 40px
      &:hover
         color: #637cf7



.subMenu
   opacity: 0
   z-index: 1000
   visibility: hidden
   position: absolute
   left: 50%
   transform: translateX(-50%)
   top: 100%
   // width: 63.75rem
   margin: 0
   background: #fff
   box-shadow: 0 0 0 1px rgb(18 55 105 / .08),2px 3px 12px rgb(164 172 185 / .24) 
   border-radius: 12px
   transition: opacity 0.2s ease, visibility 0.2s ease 
   pointer-events: none
   .mainLeftLinks
      display: flex
      flex-direction: column
      padding: 25px
      width: 440px
      border-right: 1px solid #d0d5dd
   .domainList
      padding: 25px
      width: 350px
 


.agencyStyle
   text-decoration: none
   background-image: url('/staticImages/brand_naming_bg.svg')
   background-repeat: no-repeat
   width: 18.125rem
   padding: 25px
   background-size: 110%
   border-radius: 0 12px 12px 0
   display: block
   overflow: hidden
   transition: box-shadow 0.5s ease

   .imageWrapper
      border-radius: 10px
      overflow: hidden
      transition: transform 0.5s ease

   .image
      display: block
      margin: 0 auto
      object-fit: cover
      transition: transform 0.5s ease

   .title
      display: flex
      align-items: center
      gap: 12px
      font-weight: 700
      padding-top: 15px
      color: #383c46
      font-family: "Product Sans", sans-serif
      img
         transition: transform 0.5s ease

      .arrow
         transition: transform 0.5s ease
   .description
      color: #656565
      font-size: .875rem
      padding-top: 5px
      line-height: 22px
      margin-bottom: 16px
      font-family: "Product Sans", sans-serif
      
   &:hover
      .image
         transform: scale(1.2) rotate(3deg)

      .arrow
         transform: translateX(5px)


.NamingAndBrand
   display: flex
   width: 790px
   .mainLeftLinks
      width: 275px
      border-right: 1px solid #d0d5dd
      .brandingContext
         padding: 25px
         width: 20rem

.researchAndTesting
   display: flex
   width: 750px
   .mainLeftLinks
      width: 410px
      border-right: 1px solid #d0d5dd
   .brandingContext
      padding: 25px
      width: 20rem

.trademarks
   width: 580px
   display: flex
   .mainLeftLinks
      width: 320px
      border-right: 1px solid #d0d5dd

.resources
   width: 1340px
   .mainLeftLinks
      width: 390px
      border-right: 1px solid #d0d5dd


@media screen and (max-width: 991px)
   .mainMenu
      display: none

   .mobileMenuStyle
      display: flex
      flex-direction: column
      align-items: initial
      gap: 0
      width: 100%

      .noLink
         padding: 12px 5px
         width: 100%
         display: flex
         justify-content: space-between
         align-items: center
         cursor: pointer
         font-weight: 700
         font-size: 16px
         color: #19184a
         &:hover
           color: #637cf7
         .arrow
           display: inline-block
           width: 10px
           height: 10px
           border-right: 2px solid #b1ccf7
           border-bottom: 2px solid #b1ccf7
           transform: rotate(45deg)
           transition: transform 0.3s ease

      .subMenu
         position: static
         transform: none
         width: 100%
         box-shadow: none
         opacity: 1
         visibility: visible
         display: none
         flex-direction: column
         border-radius: 0

         .mainLeftLinks
           padding: 5px
           border-right: none
           border-bottom: 1px solid #d0d5dd
           max-width: 800px
           min-width: 320px
           width: 100%
    
      .domainList
        margin: 0
        padding: 0px
        max-width: 800px
        min-width: 320px
        width: 100%

   .NamingAndBrand
      .mainLeftLinks
         padding: 5px
      .brandingContext
         padding-top: 0px
         padding-left: 0px
     
   .researchAndTesting
      .brandingContext
         padding: 5px

   .trademarks
      .mainLeftLinks
         max-width: 800px
         min-width: 320px
         width: 100%

   .open
      .subMenu
         display: flex
      .noLink
         .arrow
            transform: rotate(-135deg)

