.timersWrapper
  max-width: 800px
  width: 100%
  width: 100%
  max-height: 600px
  overflow-y: auto
  margin: 20px auto
  background: #fff
  padding: 20px
  border-radius: 8px
  box-shadow: 0 0 8px rgba(0,0,0,0.1)
  border: 2px solid #7f8d7f38


.title
   display: flex
   align-items: flex-start
   justify-content: space-between
   margin-bottom: 30px
   color: #585859
   h2
      font-size: 18px
      font-weight: 600
      
   p
      font-size: 14px
      font-weight: 600

.img
   width: 20px
   height: 20px
   opacity: 0.5
   object-fit: cover

.timerList
   display: flex
   flex-direction: column
   gap: 15px
