.icons
   display: flex
   gap:25px
   align-items: center
   .searchIcon, .userIcon, .phoneIcon, .heartIcon
      background-color: #fff
      display: flex
      align-items: center
      justify-content: center
      width: 20px
      height: 20px
      border-radius: 50%
      cursor: pointer
      transition: all ease .3s

   .searchIcon 
      background-image: url(/staticImages/icons/search.svg)
      background-repeat: no-repeat
      background-position: center center
      background-size: 23px auto
      width: 30px
      height: 30px
    
     
   .userIcon 
      background-image: url(/staticImages/icons/user.svg)
      background-repeat: no-repeat
      background-position: center center
   .menuUser
      position: relative
      &:hover .dropMenuUser
         display: block
      .dropMenuUser
         position: absolute
         left: -70px
         top: 100%
         z-index: 999
         display: none
         min-width: 170px
         font-size: 1rem
         color: #212529
         text-align: left
         background-color: #fff
         padding: 8px 0
         background-clip: padding-box
         border: 1px solid rgb(0 0 0 / .15)
         border-radius: 10px
         box-shadow: 0 0 20px 0 rgb(0 0 0 / .2)
         .menuItem
            font-size: 14px
            cursor: pointer
            width: 100%
            font-weight: 400
            padding: 7px 25px 7px 10px
            color: #343434
            display: flex
            align-items: center
            
            a
               display: flex
               align-items: center
               gap: 5px
               text-decoration: none
               color: #343434
               font-size: 14px
               font-weight: 400
               .user
                  opacity: 0.6
                  background-image: url('/staticImages/icon-account.svg')
                  background-repeat: no-repeat
                  background-position: center center
                  background-size: 18px auto
                  width: 30px
                  height: 30px
                  display: flex
                  align-items: center
                  justify-content: center
            &:hover
               background-color: #f2f4f9
               .user
                  opacity: 1
                  background-color: #f2f4f9
               span
                  color: #637cf7
      
         font-weight: 500
         color: #19184a
         font-size: .875rem
         line-height: 40px
         cursor: pointer
         transition: all ease .3s
         &:hover
            color: #637cf7
   .phoneIcon 
      background-image: url(/staticImages/icons/phone.svg)
      background-repeat: no-repeat
      background-position: center center  
      background-size: 20px auto
   .menuTelephone
      position: relative
      &:hover .dropMenuTelephone
         display: block
      .dropMenuTelephone
         position: absolute
         left: -70px
         top: 100%
         z-index: 999
         display: none
         min-width: 170px
         font-size: 1rem
         color: #212529
         text-align: left
         padding: 8px 0
         background-color: #fff
         background-clip: padding-box
         border: 1px solid rgb(0 0 0 / .15)
         border-radius: 10px
         box-shadow: 0 0 20px 0 rgb(0 0 0 / .2)
         .menuItem
            font-size: 14px
            cursor: pointer
            width: 100%
            font-weight: 400
            padding: 7px 25px 7px 10px
            color: #343434
            display: flex
            align-items: center
            
            a
               display: flex
               align-items: center
               gap: 5px
               text-decoration: none
               color: #343434
               font-size: 14px
               font-weight: 400
               .phone
                  opacity: 0.6
                  background-image: url('/staticImages/icons/phone.svg')
                  background-repeat: no-repeat
                  background-position: center center
                  background-size: 22px auto
                  width: 30px
                  height: 30px
                  display: flex
                  align-items: center
                  justify-content: center
               .chatIcon
                  opacity: 0.6
                  background-image: url('/staticImages/icons/chat-black.svg')
                  background-repeat: no-repeat
                  background-position: center center
                  background-size: 16px auto
                  width: 30px
                  height: 30px
                  display: flex
                  align-items: center
                  justify-content: center
               .emailIcon
                  opacity: 0.6
                  background-image: url('/staticImages/icons/email.svg')
                  background-repeat: no-repeat
                  background-position: center center
                  background-size: 16px auto
                  width: 30px
                  height: 30px
                  display: flex
                  align-items: center
                  justify-content: center
               .helpIcon
                  opacity: 0.6
                  background-image: url('/staticImages/icons/help.svg')
                  background-repeat: no-repeat
                  background-position: center center
                  background-size: 21px auto
                  width: 30px
                  height: 30px
               
                  display: flex
                  align-items: center
                  justify-content: center
            &:hover
               background-color: #f2f4f9
               .phone, .chatIcon, .emailIcon, .helpIcon
                  opacity: 1
                  background-color: #f2f4f9
               span
                  color: #637cf7
      
         font-weight: 500
         color: #19184a
         font-size: .875rem
         line-height: 40px
         cursor: pointer
         transition: all ease .3s
         &:hover
            color: #637cf7
     
   .heartIcon 
      background-image: url(/staticImages/icons/heart.svg)
      background-repeat: no-repeat     
      background-position: center center
      background-size: 16px auto
      width: 30px
      height: 30px
      display: flex
      align-items: center
      justify-content: center

.menuMobileIcon
   display: none
   cursor: pointer
   flex-direction: column
   gap: 5px
   margin-right: 10px
   span
      display: block
      width: 23px
      height: 2px
      background: #333
      border-radius: 3px
      transition: all 0.3s ease
   &.open span:nth-child(1)
      transform: translateY(7px) rotate(45deg)
   &.open span:nth-child(2)
      opacity: 0
   &.open span:nth-child(3)
      transform: translateY(-7px) rotate(-45deg)
      
.mobileMenu
   position: fixed
   bottom: -100%
   left: 0
   width: 85%
   height: 80%
   background: #fff
   transition: bottom 0.4s ease-in-out
   padding: 15px
   z-index: 1000
   overflow-y: auto 
   overflow-x: hidden

.mobileMenu.show
   bottom: 0

.searchWrapper
   display: flex
   align-items: center
   justify-content: space-between
   position: relative
   max-width: 800px
   margin: 0 0 16px 0
   border-bottom: 1px solid #edeff3
   .icon
      background-image: url(/staticImages/icons/search.svg)
      background-repeat: no-repeat
      width: 40px
      height: 40px
      position: absolute
      top: 21px
      left: 0px
   input
      border: none
      outline: 0
      display: block
      width: 100%
      text-align: left
      padding: 0 50px 0 35px
      background: #fff
      border-radius: 999px
      font-size: 16px
      height: 60px
      line-height: 60px
      color: #343434
      font-size: 18px
      font-weight: 400
      &::placeholder 
         color: rgb(25 24 74 / .4)
         font-size: 16px

   .searchBtn
      background: linear-gradient(450deg,#4a9dff 0,#637cf7 50%,#8e71d1 100%)
      box-shadow: 0 16px 40px rgb(11 169 166 / .16)
      width: 40px
      height: 40px
      padding: 0
      position: absolute
      top: 8px
      right: 0
      cursor: pointer
      border: none
      border-radius: 50%
      span
         position: absolute
         top: 0
         left: 0
         bottom: 0
         right: 0
         display: block
         background-repeat: no-repeat
         background-position: center center
         background-image: url(/staticImages/icon-arrow-long-right.svg)
         background-size: 20px auto


@media screen and (max-width: 991px) 
   .icons
      .searchIcon
         display: none
   .menuMobileIcon
      display: flex

   .mobileMenu
      width: 50%

@media screen and (max-width: 776px) 
   .menuMobileIcon
      display: flex
      
   .mobileMenu
      width: 80%
      height: 80%
   .searchWrapper
      .searchBtn
         background: #ff6955

