.offersWrapper
  width: 100%
  max-width: 800px 
  margin: 0 auto
  display: flex
  flex-direction: column
  gap: 15px

.wrapperItem
  display: flex
  flex-direction: column
  align-items: stretch
  max-width: 1200px
  width: 100%
  margin-top: 15px
  padding: 25px 35px
  background-color: #f9fafb
  color: #556da5
  position: relative

.wrapperInfo
  display: flex
  justify-content: space-between
  gap: 20px
  flex-wrap: wrap

.contestInfo
  display: flex
  flex-direction: column
  flex: 1
  min-width: 200px
  p
    margin: 5px 0
    strong
      color: #455a89

.offerContent
  display: flex
  flex-direction: column
  align-items: center
  flex: 1
  min-width: 200px
  gap: 10px
  p
    margin: 5px 0
  .img
    width: 150px
    height: 100px
    object-fit: cover
    border-radius: 5px

.btnsContainer
  display: flex
  justify-content: flex-end
  gap: 15px
  margin-top: 15px

.resolveBtn, .rejectBtn
  width: 100px
  padding: 10px
  border-radius: 8px
  color: #fff
  border: none
  cursor: pointer
  text-align: center
  transition: background-color 0.3s

.resolveBtn
  background-color: #8aca6b
  &:hover
    background-color: rgba(138,202,107,0.7)

.rejectBtn
  background-color: #CD5C5C
  &:hover
    background-color: rgba(205,92,92,0.7)

.reject
  color: red
  position: absolute
  right: 20px
  top: 20px
  font-size: 36px

.resolve
  color: green
  position: absolute
  right: 20px
  top: 20px
  font-size: 36px
